<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- bootstrap & jQuery -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <!-- bootstrap icon-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="/css/client.css">

    <!-- script -->
    <script src="/js/client.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success fixed-top">
    <% if(!page_status || "signup" == page_status) { %>    
    <div class="mx-auto">
        <img class="img-fluid" alt="LOGO" src="/img/CoverForYou_logo_w.png">
    </div>
    <% } else { %>
    <a class="navbar-brand" href="">
        <img class="img-fluid" alt="LOGO" src="/img/CoverForYou_logo_w.png">
    </a>
        
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class='fas fa-bars' style='color:white'></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="nav">
            <li class="nav-item mx-1">
                <a class="nav-link" id="myinfo_btn" href=""><i class='far fa-clipboard' style='font-size:3em;color:white'></i></a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link" id="signout_btn" href=""><i class='fas fa-sign-out-alt' style='font-size:3em;color:white'></i></a>
            </li>
        </ul>
    </div>
    <% } %>
    </nav>

    <div id="block"></div>
    <% if(!page_status || "signup" == page_status) { %>
    <div class="container m-login-container">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card">
                    <!-- 로그인 화면 -->
                    <% if(!page_status) { %>
                    <div class="card-head text-center m-4">
                        <img class="img-fluid" alt="signin" src="/img/signin.png">
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class='far fa-envelope'></i></span>
                                    </div>
                                    <input type="text" id="signin_email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class='fas fa-key'></i></span>
                                    </div>
                                    <input type="password" id="signin_pw" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> Remember me
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="row mx-auto">
                                    <input type="button" id="signin_btn" class="btn btn-success col-sm-6" value="Sign in">
                                    <input type="button" id="signup_btn" class="btn btn-default col-sm-6" value="Sign up">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 회원가입 화면 -->
                    <% } else { %>
                    <div class="card-head text-center m-4">
                        <img class="img-fluid" alt="signup" src="/img/signup.png">
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class='far fa-envelope'></i></span>
                                    </div>
                                    <input type="text" id="signup_email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class='fas fa-key'></i></span>
                                    </div>
                                    <input type="password" id="signup_pw" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input type="text" id="signup_name" class="form-control" placeholder="username">
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> I agree on CoverForYou's Policy
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="row mx-auto">
                                    <input type="button" id="register_btn" class="btn btn-success col-sm-6" value="Register!">
                                    <input type="button" id="back_btn" class="btn btn-default col-sm-6" value="back">
                                </div>
                            </div>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <% } else if("logined" == page_status) {%>
    <div class="container-fluid col-sm-10 border mb-3">
        <p>여기 메뉴</p>
    </div>

    <div class="container-fluid col-sm-10 border">
        <div class="card-deck my-5">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <div class="card-header">
                        <img src="/img/programming_default.png" class="img-thumbnail work_img" alt="work_img">
                    </div>
                    <div class="card-body">Content</div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-center">
                    <div class="card-header">
                        <img src="/img/programming_default.png" class="img-thumbnail work_img" alt="work_img">
                    </div>
                    <div class="card-body">Content</div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
            <div class="card bg-success">
                <div class="card-body text-center">
                    <div class="card-header">
                        <img src="/img/programming_default.png" class="img-thumbnail work_img" alt="work_img">
                    </div>
                    <div class="card-body">Content</div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-center">
                    <div class="card-header">
                        <img src="/img/programming_default.png" class="img-thumbnail work_img" alt="work_img">
                    </div>
                    <div class="card-body">Content</div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
        </div>

        <div class="card-deck my-5">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <div class="card-header">
                        <img src="/img/programming_default.png" class="img-thumbnail work_img" alt="work_img">
                    </div>
                    <div class="card-body">Content</div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-center">
                    <div class="card-header">
                        <img src="/img/programming_default.png" class="img-thumbnail work_img" alt="work_img">
                    </div>
                    <div class="card-body">Content</div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
            <div class="card bg-success">
                <div class="card-body text-center">
                    <div class="card-header">
                        <img src="/img/programming_default.png" class="img-thumbnail work_img" alt="work_img">
                    </div>
                    <div class="card-body">Content</div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-center">
                    <div class="card-header">
                        <img src="/img/programming_default.png" class="img-thumbnail work_img" alt="work_img">
                    </div>
                    <div class="card-body">Content</div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
        </div>
    </div>
    <% } else if("user_info" == page_status) {%>
    <div class="row col-sm-10 mx-auto">
        <div class="card border col-sm-3">
            <div class="card-body text-center">
                <div class="card-header text-center">
                    <img src="/img/frog.jpg" class="img-thumbnail profile_img" alt="Profile">
                </div>
                <div class="card-body text-rignt"><%= name %></div>
                <div class="card-footer">Hello</div>
            </div>
        </div>

        <div class="container-fluid col-sm-8 border">
            <ul class="nav nav-tabs text-center" role="tablist">
                <li class="nav-item col-sm-6">
                    <a class="nav-link active" data-toggle="tab" href="#new">새소식</a>
                  </li>
                  <li class="nav-item col-sm-6">
                    <a class="nav-link" data-toggle="tab" href="#join_group">가입한 모임</a>
                  </li>
              </ul>
            
              <!-- Tab panes -->
              <div class="tab-content">
                <div id="new" class="container tab-pane active"><br>
                  <h3>HOME</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="join_group" class="container tab-pane fade"><br>
                  <h3>Menu 1</h3>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</body>
</html>