.navbar-brand {
    font-weight: bold;
}

.navbar-brand src {
    height: 100%;
}

.m-login-container {
    margin-top: 6em;
}

.work_img {
    width: 300px;
    height: 200px;
}

#block {
    margin-top: 10em;
}